.slider {
    position: relative;
    height: 550;
    justify-content: center;
    align-items: center;
    width: 70%;
    left:15%;
}

.txt {
    left: 10%;
    height: 200px;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
    margin: 0 auto;
    padding: 20px;
    border: 0.5 solid black;
    box-shadow: 0 0 5px white;
}

.txt h1 {
    color: rgba(225, 225, 225);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}

.txt p{
    position: relative;
    color: rgba(225, 225, 225, 0.678);
    top:30%;
    left:30%;
    font-size: large;
    justify-content: center;
}

.rightarrow {
    position: absolute;
    top: 40%;
    right: 20px;
    color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border-radius: 15%;
    font-size: 5rem;
    z-index: 2;
}

.leftarrow {
    position: absolute;
    top: 40%;
    left: 20px;
    color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border-radius: 15%;
    align-self: center;
    font-size: 20rem;
    z-index: 2;
}

.leftarrow:hover, 
.rightarrow:hover{
    color: rgba(0, 0, 0, 0.749);
}

@media screen and (max-width: 500px){
    .leftarrow {
        left: 16px;
        top:120%;
    }

    .rightarrow{
        right: 16px;
        top:120%;
    }

    .txt h1 {
        font-size: 18px;
    }

    .txt p{
        font-size: medium;
    }
}
